<h1>Wikinimous</h1>
<%= link_to "Create New Article", new_article_path %>
<% @articles.each do |article| %>
  <h2><%= Kramdown::Document.new(article.title).to_html.html_safe %></h2>
  <p><%= Kramdown::Document.new(article.content).to_html.html_safe  %></p>
  <%= link_to "Show Complete Article", article_path(article) %>
  <%= link_to "Modify Article", edit_article_path(article) %>
  <%= link_to "Delete Article", article_path(article),
    method: :delete,
    data: { confirm: "Are you sure?" } %>
<% end %>

